<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');
   
        .header {
            font-size:48px;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-style: bold;
            padding-left: 1vw;
            padding-right: 1vw;
            }
        
            .btn{
                position:relative;
                 top: 10px;
                padding: 5px 15px;
                font-size: 12px;
                font-weight: 900;
                color: #fff;
                background-color:  #f50057;
                border: 2px solid  #f50057;
                cursor: pointer;
                 width: max-content;
                 transition: 0.25s ease;
                }
                a:hover{
                         box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
                         transform: translateY(-6px);
                }
  
       
    </style>

    <title>Under the acacia|<%= article.title %></title>
</head>
<body>
    <div class="container">
    <h1 class = "header"><%= article.title %></h1>
    <div><%= article.createdAt.toLocaleDateString() %></div>
    <a href = "/" class = "btn">All Articles</a>
    
    <div class = "articlebody">
        <%-article.sanitizedHtml%>
    </div>
    </div>
    
</body>
</html>